<div class="row">
    <div ng-class="{'col-xs-12': !detail, 'col-xs-4': detail}">
        <div class="list-group">
            <a ng-repeat="msg in list" ui-sref="messages.view.detail({index: $index})" class="list-group-item">
                <div class="media">
                    <img class="media-object pull-left" data-src="holder.js/64x64" alt="64x64"
                         src="common/media/{{msg.img}}"
                         style="width: 64px; height: 64px;">

                    <div class="media-body">
                        <div class="col-xs-12 col-sm-9">
                            <div ng-if="view == 'sent'"><b>{{msg.recipient}}</b></div>
                            <div ng-if="view == 'inbox'"><b>{{msg.sender}}</b></div>
                            <div>{{msg.subject}}</div>
                            <div class="blue">{{msg.body | limitTo: 13}}...</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div ng-if="detail" class="col-xs-8">
        <div class="media">
            <img class="media-object pull-left" data-src="holder.js/64x64" alt="64x64"
                 src="common/media/{{detail.img}}"
                 style="width: 64px; height: 64px;">

            <div class="media-body">
                <div ng-if="view == 'sent'"><b>{{detail.recipient}}</b></div>
                <div ng-if="view == 'inbox'"><b>{{detail.sender}}</b></div>
                <div>{{detail.subject}}</div>
            </div>
        </div>
        {{detail.body}}
    </div>
</div>

    















