<div ng-switch="listView">
    <div ng-switch-default>
        <div ng-repeat="msg in list">
            <div class='fa fa-inbox blue' ng-click="messageOpen(msg)">
                {{msg.subject}}
                {{msg.body}}
                {{msg.sender}}
                {{msg.recipient}}
            </div>
            <br>

        </div>
    </div>
    <div ng-switch-when="openMessage">
        <div >From: {{msgView.sender}} </div>
        <!-- <div >{{msgView.recipient}} </div> -->
        <div > Subject :{{msgView.subject}} </div>
        <div > Message:{{msgView.body}} </div>
    </div>
</div>

    















