<div class="col-xs-12 col-sm-9">
    <form action="" method="post">
        

        <div class="form-group">
            <label for="id_recipient">Recipient:</label>
            <input id="id_recipient"  class="form-control" name="recipient" type="text" value="" ng-model="newMessage.recipient" 
                                               typeahead="obj.email for obj in getClientList($viewValue)" tyepahead-min-length="1">
        </div>

        <div class="form-group">
            <label for="id_subject">Subject:</label>
            <input id="id_subject" class="form-control" maxlength="120" name="subject" type="text" value="" ng-model="newMessage.subject">
        </div>
        <div class="form-group">
            <label for="id_body">Body:</label>
            <textarea cols="55" class="form-control" id="id_body" name="body" rows="12" ng-model="newMessage.body"></textarea>
        </div>

        <button type="submit" class="btn btn-primary" ng-click="submitMessage()">Submit</button>
    </form>
</div>