<div id="workouts" ng-controller="workoutsCtrl">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 id="workoutsHeader" class="ef-header">professional workouts</h2>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-11">
                                <tags-input ng-model="search" class="bootstrap"
                                            placeholder="Example: Title, tags, etc..."
                                            name="pattern" value="" display-property="name">
                                </tags-input>
                            </div>
                            <div class="col-xs-1">
                                <button id="searchButton" ng-click="filter()" type="button" class="btn">
                                    <span class="fa fa-chevron-right"></span>
                                </button>
                            </div>
                        </div>
                        <div class="page-header">
                            <h2 class="entry-title">level of fitness</h2>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-space">
                                    <button class="col-xs-12 btn toggle beginner difficulties"
                                            ng-class="{selected: selected['beginner']}" id='beginner'
                                            ng-click="difficultyOnClick('beginner')">
                                        beginner
                                        <span class="difficulty beginner"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-space">
                                    <button class="col-xs-12 btn toggle intermediate difficulties"
                                            ng-class="{selected: selected['intermediate']}" id='intermediate'
                                            ng-click="difficultyOnClick('intermediate')">
                                        intermediate
                                        <span class="difficulty intermediate"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-space">
                                    <button class="col-xs-12 btn toggle advanced difficulties"
                                            ng-class="{selected: selected['advanced']}" id='advanced'
                                            ng-click="difficultyOnClick('advanced')">
                                        advanced
                                        <span class="difficulty advanced"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="page-header">
                            <h2 class="entry-title">popular categories</h2>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-space">
                                    <span ng-repeat="tag in tags.results"
                                          class="tag tag-blue tag-click" ng-click="addTag(tag)">
                                        {{tag.name}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-header">
                    <h2 class="entry-title">popular views</h2>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="col-xs-12 col-sm-4" ng-repeat="video in videos.results">
                            <div class="ef-workout-video">
                                <a href="/workouts/video/{{ video.id }}"><img
                                        src="http://beta.liveeverfit.com/media/{{ video.img }}"/></a>
                            </div>
                            <a href="/workouts/video/{{ video.id }}">
                                <div class="workout-title">
                                    <span class="ellipsis">{{ video.title }}</span>
                                    <span class="difficulty {{ video.difficulty }} pull-right"></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-6">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>