<div id="homeBg"></div>
<div id="homePage" ng-if="token">
    <div class="container">
        <div class="col-md-10">
            <div ng-controller="BannerCtrl">
            <carousel interval="3000">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                </slide>
            </carousel>
        </div>
        <div class="homePageButtons xs-up">
            <div class="row">
                <div class="col-xs-4">
                    <a ui-sref-active="active"
                       ui-sref="fitness-professionals">
                        <img src="../home/img/find-a-pro.png"/>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a ui-sref-active="active"
                       ui-sref="workouts">
                        <img src="../home/img/workouts.png"/>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="http://store.liveeverfit.com/cart">
                        <img src="../home/img/the-shop.png"/>
                    </a>
                </div>
            </div>
        </div>
        <tabset justified="true" type="pills">
            <tab ng-repeat="tab in tabs" heading="{{tab.title}}" select="feedFilter(tab.filter)"></tab>
        </tabset>
        <!-- /.homePageButtons -->
        <div entry-feed ng-model="$parent.feed"></div>
        </div>

        <div class="col-md-2 hidden-xs hidden-sm chatfit">

            <div class="row">
                <div class="col-xs-12">
                    <h2 class="ef-header">fanatics</h2>

                    <div class="row inf-costum">
                        <div class="col-md-12">
                            <i class="fa fa-comments fa-3x ico-comm"></i>
                        </div>
                    </div>

                    <div class="row inf-search">
                        <div class="col-md-12">
                            <div class="form-search">
                                <tags-input id="specialties" type="text" class="bootstrap"
                                            placeholder="Search..."
                                            ng-model="specialtySearch" display-property="name"
                                            on-tag-removed="onDeleteTag($tag)"
                                            on-tag-added="onTagAdd($tag)">
                                    <auto-complete source="loadSpecialty($query)"
                                                   min-length="1"></auto-complete>
                                </tags-input>
                            </div>

                            <i class="fa fa-search fa-lg ico-search"></i>
                        </div>
                    </div>

                    <div class="list-fan">
                        <div class="row inf-user">
                            <div class="col-md-2 ico-user">
                                <i class="fa fa-user fa-2x"></i>
                            </div>
                            <div class="col-md-8 name-user">
                                Miguel Ramirez
                            </div>
                            <div class="col-md-2 envelope">
                                <i class="fa fa-envelope"></i>
                            </div>
                        </div>
                        <div class="row inf-user">
                            <div class="col-md-2 ico-user">
                                <i class="fa fa-user fa-2x"></i>
                            </div>
                            <div class="col-md-8 name-user">
                                Estefania Cisneros
                            </div>
                            <div class="col-md-2 envelope">
                                <i class="fa fa-envelope"></i>
                            </div>
                        </div>
                        <div class="row inf-user">
                            <div class="col-md-2 ico-user">
                                <i class="fa fa-user fa-2x"></i>
                            </div>
                            <div class="col-md-8 name-user">
                                Nicolas Bravo
                            </div>
                            <div class="col-md-2 envelope">
                                <i class="fa fa-envelope"></i>
                            </div>
                        </div>
                        <div class="row inf-user">
                            <div class="col-md-2 ico-user">
                                <i class="fa fa-user fa-2x"></i>
                            </div>
                            <div class="col-md-8 name-user">
                                Ignacio de Iturbide
                            </div>
                            <div class="col-md-2 envelope">
                                <i class="fa fa-envelope"></i>
                            </div>
                        </div>
                        <div class="row inf-user">
                            <div class="col-md-2 ico-user">
                                <i class="fa fa-user fa-2x"></i>
                            </div>
                            <div class="col-md-8 name-user">
                                Petro Barrera
                            </div>
                            <div class="col-md-2 envelope">
                                <i class="fa fa-envelope"></i>
                            </div>
                        </div>
                        <div class="row inf-user">
                            <div class="col-md-2 ico-user">
                                <i class="fa fa-user fa-2x"></i>
                            </div>
                            <div class="col-md-8 name-user">
                                Jonathan Pena
                            </div>
                            <div class="col-md-2 envelope">
                                <i class="fa fa-envelope"></i>
                            </div>
                        </div>
                        <div class="row inf-user">
                            <div class="col-md-2 ico-user">
                                <i class="fa fa-user fa-2x"></i>
                            </div>
                            <div class="col-md-8 name-user">
                                Juan Chonte
                            </div>
                            <div class="col-md-2 envelope">
                                <i class="fa fa-envelope"></i>
                            </div>
                        </div>
                        <div class="row inf-user">
                            <div class="col-md-2 ico-user">
                                <i class="fa fa-user fa-2x"></i>
                            </div>
                            <div class="col-md-8 name-user">
                                Arturo Guon
                            </div>
                            <div class="col-md-2 envelope">
                                <i class="fa fa-envelope"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>