<div id="homeBg"></div>
<div id="homePage">
<div>
  <button ng-click="startTour()">Start tour</button>
  <div class="panel"
    step-text="Hello, this is the first step of the tour."
    step-index="1"
    step-placement="bottom">
    First tour step points here
  </div>
  <div class="panel"
    step-text="This is another step of the tour."
    step-index="2"
    step-placement="right">
    Second tour step points here
  </div>
  <div class="panel"
    step-text="Last step. Finally."
    step-index="3">
    Third tour step points here
  </div>
</div>
<div ng-if="token" ng-controller="homeController">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div ng-controller="BannerCtrl">
                    <carousel interval="3000" disable-ng-animate>
                        <slide ng-repeat="slide in slides" active="slide.active">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                        </slide>
                    </carousel>
                </div>
                <div class="homePageButtons xs-up">
                    <div class="row">
                        <div class="col-xs-4">
                            <a ui-sref-active="active"
                               ui-sref="fitness-professionals">
                                <img src="home/img/find-a-pro.png"/>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a ui-sref-active="active"
                               ui-sref="workouts">
                                <img src="home/img/workouts.png"/>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="http://store.liveeverfit.com">
                                <img src="home/img/the-shop.png"/>
                            </a>
                        </div>
                    </div>
                </div>
                <!--<tabset justified="true" type="pills">
                    <tab ng-repeat="tab in tabs" heading="{{tab.title}}" select="feedFilter(tab.filter)"></tab>
                </tabset>-->
                <!-- /.homePageButtons -->
                <div ng-if="feed.show" entry-feed ng-model="$parent.feed"></div>
            </div>
        </div>
    </div>
    <div ng-include="'/fanatics/index.html'"> </div>
</div>
</div>