#page #homePage {
  .container {
    background: transparent !important;
    padding: 0;
    .homePageButtons {
      margin: 25px 0;
      img {
        width: 100%;
      }
    }
  }
  .container:after {
    margin-left: 0px;
  }
}

