<div class="col-xs-12 col-sm-6">
    <h2 class="ef-header">membership</h2>

    <div class="row">
        <div class="col-xs-12">
            {% if profile_user.is_professional %}
                <span class="bold">
                Profession:
                </span>
                {{ profile_user.profession }}
                <br>
                <a href="/modify-membership/?a=cancel" onclick="cancelMembership();">
                    Cancel membership
                </a>
            {% else %}
                {% if profile_user.is_upgraded %}
                    Tier:
                    <span class="edit-text"
                          data-title="Tier"
                          data-name="tier"
                          data-value="{{ profile_user.tier }}"
                          data-type="select"
                          data-url="/modify-membership/"
                          data-source="{'2': 'Tier 2 - $45 per month.','3': 'Tier 3 - $175 per month.','4': 'Tier 4 - $350 per month.','5': 'Tier 5 - $500 per month.'}">
                                        {{ profile_user.tier }}
                                    </span>
                    <br>
                    <a href="/modify-membership/?a=cancel" onclick="cancelMembership();">
                        Cancel membership
                    </a>
                {% else %}
                    <a href="/client-upgrade/">
                        <span class="glyphicon glyphicon glyphicon-fire"></span>
                        Upgrade
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>