
<div class="container" ng-switch="getCurrentStep()" class="slide-frame">


  <div class="panel panel-default" ng-switch-when="registration">
    <div class="panel-heading">
      <h3>Basic Information</h3>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" name="registrationForm">
        <label for="inputFirstName">
          First Name:
        </label>
        <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name" ng-model="user.first_name" required>
          <p></p>
        <label for="inputLastName">
          Last Name:
        </label>
        <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name" ng-model="user.last_name" required>
          <p></p>
        <label for="inputEmail">
          Email:
        </label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Email" ng-model="user.email" required>
          <p></p>
        <label for="inputPassword">
          Password:
        </label>
        <input type="password" class="form-control" name="password" value="" id="password" placeholder="Password" ng-model="user.password" required>
          <p></p>
        <label for="inputPassword">
          Re-enter Password:
        </label>
        <input type="password" class="form-control" name="password" value="" id="password" placeholder="Password" ng-model="user.password2" required>

        <hr></hr>

        <button type="submit" class="btn btn-primary pull-right" ng-click="setCurrentStepForm('choice', registrationForm.$valid)">Next</button>
      </form>        
    </div>
  </div><!--end registration-->


  <div ng-switch-when="choice">
    <div>
      <button type="button" class="btn btn-primary" ng-click="setCurrentStep('user')">User</button>
      <button type="button" class="btn btn-primary" ng-click="professionals('professionals', 'Trainer')">Trainer</button>
      <button type="button" class="btn btn-primary" ng-click="professionals('professionals', 'Nutritionist')">Nutritionist</button>
      <button type="button" class="btn btn-primary" ng-click="professionals('professionals', 'Promoter')">Promoter</button>
    </div>
    <button type="button" class="btn btn-primary pull-right" ng-click="setCurrentStep('registration')">Back</button>
  </div><!--end choice-->


  <div ng-switch-when="user">
    <div>
      <button type="button" class="btn btn-primary" ng-click="setCurrentStep('membership')">membership</button>
      <button type="button" class="btn btn-primary" ng-click="setCurrentStep('free')">Free</button>
    </div>
    <button type="button" class="btn btn-primary pull-right" ng-click="setCurrentStep('choice')">Back</button>
  </div><!--end user-->


  <div ng-switch-when="professionals">
    <div>
      Professionals<br>
      <button type="submit" class="btn btn-primary" ng-click="proSubmit()">Submit</button>
    </div>
    <button type="button" class="btn btn-primary pull-right" ng-click="setCurrentStep('registration')">Back</button>
  </div><!--end professionals-->


  <div ng-switch-when="free">
    <div>
      <li ng-repeat="(error, msg) in message">{{msg[0]}}</li>
      <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
    </div>
    <button type="button" class="btn btn-primary pull-right" ng-click="setCurrentStep('user')">Back</button>
  </div><!--end free-->


  <div ng-switch-when="membership">
    <div>
      <button type="button" class="btn btn-primary" ng-click="membership('membershipSubmit', 2)">Tier 2</button>
      <button type="button" class="btn btn-primary" ng-click="membership('membershipSubmit', 3)">Tier 3</button>
      <button type="button" class="btn btn-primary" ng-click="membership('membershipSubmit', 4)">Tier 4</button>
      <button type="button" class="btn btn-primary" ng-click="membership('membershipSubmit', 5)">Tier 5</button>
    </div>
    <button type="button" class="btn btn-primary pull-right" ng-click="setCurrentStep('user')">Back</button>
  </div><!--end membership-->


  <div ng-switch-when="membershipSubmit">
    <div>
      <li ng-repeat="(error, msg) in message">{{msg[0]}}</li>
      <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
    </div>
    <button type="button" class="btn btn-primary pull-right" ng-click="setCurrentStep('user')">Back</button>
  </div><!--end membershipSubmit-->


</div>  
