<div class="jumbotron">

  <h1>LQ Technology Demo App</h1>
  <p class="lead">
    Everything we need to kickstart AngularJS projects: A best-practice
    demo app and the best web design libraries around.
  </p>



  <h3>Controller Example 1: Simple Controller</h3>
  <div class="panel" ng-controller="example1Ctrl">
    This is an example of a simple controller ->
    {{ example }}
  </div>


  <h3> Controller Example 2: Loop Controller</h3>
  <div ng-controller="example2Ctrl">
    <div class="panel" ng-repeat="post in posts">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">{{ post.title }} by {{ post.username }}</h3>
      </div>
      <p class="well">{{ post.body }}</p>
    </div>
  </div>




  <h3> Controller Example 3: Angular Bootstrap Controller</h3>
  <div ng-controller="CollapseDemoCtrl">
    <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle collapse</button>
    <hr>
    <div collapse="isCollapsed">
      <div class="well well-lg">Some content</div> 
    </div>
  </div>


  <h3> Controller Example 4: Get Restful</h3>
  <div ng-controller="testCtrl">
    <div ng-repeat="snippet in snippets.results">
      Title is: {{snippet.title}}<br/>
      ID: {{snippet.id}}<br/>
      Change Code:<input type="text" ng-model="snippet.code"/><button type="submit" ng-click="save(snippet)">Update</button>
    </div>
    <div>
      <br>
      Add New: <br/>
      Title:<input type="text" ng-model="newSnippet.title"/>
      Code:<input type="text" ng-model="newSnippet.code"/>
      <button type="submit" ng-click="add()">Add</button>
    </div>
  </div>


</div>


