<div class="row">
  <div class="col-md-5">
  </div>
  <div class="col-md-7">
    <h1>fitness professional \\</h1>
    <div class="sidebar">
            <div class="sidebar-bg">
                <div class="search-filters">

                    <div class="form" role="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Type</label>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-12 col-lg-6">
                                            <div class="form-space">
                                                <button id="Trainer" type="button" class="col-xs-12 btn toggle proffesional" ng-click="changeTrainers()" >
                                                    <span class="glyphicon glyphicon-user"></span> Trainers
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-12 col-lg-6">
                                            <div class="form-space">
                                                <button id="Nutritionist" type="button" class="col-xs-12 btn toggle proffesional" ng-click="changeNutritionists()">
                                                    <span class="glyphicon glyphicon-tree-deciduous"></span> Nutritionists
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Location</label>
                                    <div class="row">
                                        <div class="col-sm-8 col-md-12 col-lg-8">
                                            <div class="form-space">
                                                <input id="location" type="text" class="form-control" placeholder="Example: Houston, TX" autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-12 col-lg-4">
                                            <div class="form-space">
                                                <button id="findMe" type="button" class="col-xs-12 btn btn-primary">
                                                    <span class="glyphicon glyphicon-map-marker"></span> Find Me
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Gender</label>
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4">
                                            <div class="form-space">
                                                <button id="M" type="button" class="col-xs-12 btn toggle gender" ng-click="changeMale()">Male</button>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4">
                                            <div class="form-space">
                                                <button id="F" type="button" class="col-xs-12 btn toggle gender" ng-click="changeFemale()">Female</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Accepting Clients</label>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-space">
                                                <select id="accepting" type="text" class="form-control">
                                                    <option value="both"></option>
                                                    <option value="true">Yes</option>
                                                    <option value="false">No</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Specialties</label>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-space">
                                                <input id="specialties" type="text" class="form-control" placeholder="Example: Crossfit, Nutrition" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Popular Specialties</label>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-space">
                                                <p>
                                                    <div ng-controller="tagCtrl">
                                                        <span ng-repeat="tag in tags.results">
                                                          <button class="btn btn-primary">{{tag.name}}</button>
                                                        </span>
                                                        
                                                    </div>
                                                    
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.search-filters -->

                <div id="trainer-results">
                          <div ng-repeat="professional in professionals.results">
                              <div class="col-sm-6 col-md-4">
                                  <div class="thumbnail">
                                    <img src="/media/"/>
                                    <div class="caption">
                                        {{professional.first_name}}{{professional.last_name}}<br/>
                                        Accepting Clients: {{professional.is_accepting}}<br/>
                                        Biography: {{professional.bio}}<br/>
                                    </div>
                                  </div>
                              </div>
                          </div>
                </div><!-- /.trainer-results -->

            </div>
    </div><!-- /.sidebar-->
  </div>
</div>


