<div class="google-map" center="map.center" zoom="map.zoom" draggable='true' control="map.control">
    <marker ng-repeat="professional in professionals" coords="professional.marker.coords"
            icon="professional.marker.icon" options="professional.marker.options" events="professional.marker.events">
        <window show="professional.marker.window.show" options="professional.marker.window.options">
            <div class="closeBg"></div>
            <img class="img" src="/common/media/{{professional.img}}"/>

            <div class="pro-overlay" ng-click="alert()">
                <div class="pro-overlay-text">
                    <div class="name">{{professional.first_name}} {{professional.last_name}}</div>
                    <span class="location">{{professional.location}}</span> <span class="profession">{{professional.profession}}</span>
                </div>
            </div>
        </window>
    </marker>
</div>
<div class="sidebar-bg">
</div>
<div class="sidebar">
    <div class="container-fluid">
        <div class="search-filters">
            <h2 class="ef-header">fitness professional</h2>

            <div class="form" role="form">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Type</label>

                            <div class="row">
                                <div class="col-sm-6 col-lg-6">
                                    <button id="Trainer" type="button"
                                            class="col-xs-12 btn toggle proffesional"
                                            ng-class="{selected: professionSelected['Trainer']}"
                                            ng-click="professionOnClick('Trainer')">
                                        Trainers <span class="fa fa-user pull-right"></span>
                                    </button>
                                </div>
                                <div class="col-sm-6 col-lg-6 col-">
                                    <button id="Nutritionist" type="button"
                                            class="col-xs-12 btn toggle proffesional"
                                            ng-class="{selected: professionSelected['Nutritionist']}"
                                            ng-click="professionOnClick('Nutritionist')">
                                        Nutritionists
                                        <span class="fa fa-heart pull-right"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Location</label>

                            <div class="row">
                                <div class="col-sm-8 col-md-12 col-lg-8">
                                    <div class="form-space">
                                        <input id="location" type="text" class="form-control"
                                               placeholder="Example: Houston, TX" autocomplete="off"
                                               ng-model="location" ng-change="locationOnChange()"
                                               typeahead="location for location in locations"
                                               typeahead-on-select="locationOnChange()"/>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-12 col-lg-4">
                                    <div class="form-space">
                                        <button id="findMe" ng-click="findMe()" type="button"
                                                class="col-xs-12 btn btn-primary">
                                            Find Me
                                            <span class="fa" ng-class="{'fa-compass': !findMeLoading, 'fa-circle-o-notch fa-spin': findMeLoading}"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Gender</label>

                            <div class="row">
                                <div class="col-xs-6 col-md-12 col-lg-6">
                                    <div class="form-space">
                                        <button id="M" type="button" class="col-xs-12 btn toggle gender"
                                                ng-class="{selected: genderSelected['M']}"
                                                ng-click="genderOnClick('M')">Male
                                            <span class="fa fa-male pull-right"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-12 col-lg-6">
                                    <div class="form-space">
                                        <button id="F" type="button" class="col-xs-12 btn toggle gender"
                                                ng-class="{selected: genderSelected['F']}"
                                                ng-click="genderOnClick('F')">Female
                                            <span class="fa fa-female pull-right"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Specialties</label>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-space">
                                        <tags-input id="specialties" type="text" class="bootstrap"
                                                    placeholder="Example: Crossfit, Nutrition"
                                                    ng-model="specialtySearch" display-property="name"
                                                    on-tag-removed="onDeleteTag($tag)"
                                                    on-tag-added="onTagAdd($tag)">
                                            <auto-complete source="loadSpecialty($query)"
                                                           min-length="1"></auto-complete>
                                        </tags-input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Accepting Clients</label>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-space">
                                        <select ng-model="accepting" ng-change="filter()" id="accepting"
                                                type="text" class="form-control">
                                            <option value="Both">Both</option>
                                            <option value="True">Yes</option>
                                            <option value="False">No</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Popular Specialties</label>

                            <div class="row">
                                <div class="col-xs-12">
                                    <span ng-repeat="tag in tags.results"
                                          class="tag tag-blue tag-click"
                                          ng-click="addTag(tag)">
                                        {{tag.name}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.search-filters -->
        <div id="trainer-results">
            <div class="row">
                <div class="col-sm-6 col-md-4"
                     ng-repeat="professional in professionals" ng-mouseover="proMouseOver(professional)"
                     ng-mouseleave="proMouseOut(professional)">
                    <div class="thumbnail">
                        <img src="/common/media/{{professional.img}}"/>

                        <div class="caption">
                            {{professional.first_name}} {{professional.last_name}}<br/>
                            {{professional.profession}}<br>
                            {{professional.gender}}<br>
                            {{professional.location}}<br>
                            Accepting Clients: {{professional.is_accepting}}<br/>
                            Biography: {{professional.bio}}<br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button ng-show="next" id="showMore" type="button" class="btn btn-primary btn-lg btn-block"
                ng-click="getPros()">Show More
        </button>
        <!-- /.trainer-results -->
    </div>
</div><!-- /.sidebar-->
