#M,#F {
  text-align: center;
}

#F.btn.toggle {
  color: #ffffff;
  border: 1px solid #ff0066;
  background-color: #ff0066;
}
#F.btn.toggle:focus {
  background-color: #ff0066;
}
#F.btn.toggle.selected {
  background-color: #e2004f;
  -webkit-box-shadow: 0 0 5px #ff0066;
  box-shadow: 0 0 5px #ff0066;
}
#F.btn.toggle.selected:active {
  -webkit-box-shadow: 0 0 5px #ff0066;
  box-shadow: 0 0 5px #ff0066;
}
#F.btn.toggle:hover {
  background-color: #ee0063;
}


.btn:focus, a:focus {
  outline: none;
}
.form-control:focus {
  border-color: #1a8cff;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(26,140,255,0.5);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(26,140,255,0.5);
}
.search-filters {
  padding:20px 0;
}

.search-filters .form {
  border-bottom: 1px solid #eaeaea;
  padding-bottom:20px;
}

.form-space {
  margin-bottom: 5px;
}
.trainer-search {
  position: absolute;
  top: 73px;
  bottom: 0;
  left: 0;
  right: 0;
}

.google-map {
  position: fixed;
  top: 7px;
  left: 0;
  height: 150px;
  width: 100%;
}
@media(min-width:768px) {
  .google-map {
    position: fixed;
    top: 78px;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 40%;
  }
}

.angular-google-map-container {
  height:100%;
}
.thumbnail>img {
  width: 100%;
  cursor: pointer;
}
.sidebar {
  position: fixed;
  top: 223px;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
//  border-left:solid 1px #eaeaea;
//  -webkit-box-shadow: 2px -2px 5px rgba(0,0,0,0.5);
//  box-shadow: 2px -2px 5px rgba(0,0,0,0.5);
}
@media(min-width:768px) {
  .sidebar {
    position: fixed;
    top: 78px;
    right: 0;
    bottom: 0;
    width: 60%;
  }
}
.sidebar-bg {
  background-image: url('workouts/img/workouts_bg.jpg');
  background-repeat: no-repeat;
  background-position: top right;
  background-attachment: fixed;
  padding: 89px 13px 13px 13px;
  .container-fluid {
    background-color: rgba(250, 250, 250, .35);
  }
  .container-fluid:before {
    background-image: url("common/img/container-logo.png");
    width: 145px;
    height: 27px;
    position: absolute;
    top: 50px;
  }
}
.sidebar .thumbnail {
  background: transparent;
}
.thumbnail {
  border-color: #eaeaea;
}
.thumbnail:hover {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}
