
    <div class="container" ng-controller="homeController">
        <div ng-controller="BannerCtrl">
            <carousel interval="3000">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                </slide>
            </carousel>
        </div>

        <div class="homePageButtons xs-up">

            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <img src="../home/img/find-a-pro.png"/>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <img src="../home/img/workouts.png"/>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <img src="../home/img/the-shop.png"/>
                </div>

            </div>
        </div>
        <!-- /.homePageButtons -->

        <div class="newsFeed" ng-controller="feedController">
            <div class="row">
                <div class="col-md-4">
                    <div class="post-outer ">
                        <div class="status-update">
                            <div class="input-box {{entryInputType}}">
                                <div ng-show="!entryInputText" class="place-holder">
                                    {{entryInputPlaceHolder}}
                                </div>
                                <div ng-input
                                     class="input"
                                     role="textbox"
                                     contenteditable
                                     ng-model="entryInputText"
                                     ng-enter="entrySubmit()"></div>
                                <div ng-if="entryInputType=='photo'&&!entryImgSrc&&!percent" class="upload">
                                    <div class="well well-lg" ng-file-drop="onFileSelect($files)"
                                         ng-file-drag-over-class="over">
                                        <i class="fa fa-arrow-down fa-2x"></i>
                                        <br>

                                        <div>drag & drop</div>
                                    </div>
                                    <span class="btn btn-primary">
                                         upload from computer
                                        <input id="upload" type="file" accept="image/*" class="upload"
                                               ng-file-select="onFileSelect($files)">
                                    </span>
                                </div>
                                <h3 ng-if="percent">Loading...</h3>
                                <progressbar ng-if="percent" class="progress-striped active" value="percent">
                                    {{percent}}%
                                </progressbar>
                                <img ng-if="entryImgSrc" ng-src="{{entryImgSrc}}"/>

                                <div class="video" ng-if="entryInputType=='video'">
                                    <div class="form-group">
                                        <label>Paste YouTube URL here</label>
                                        <input ng-model="entryVideoURL" class="form-control" type="text"
                                               placeholder=""/>
                                    </div>
                                </div>
                                <div class="event" ng-if="entryInputType=='event'">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="eventStart">Start</label>

                                                <div class="input-group">
                                                    <input id="eventStart" type="text" class="form-control"
                                                           datepicker-popup="MM/dd/yyyy"
                                                           ng-model="entryEvent.start" min
                                                           is-open="fromDatePickerOpened"
                                                           date-disabled="disabled(date, mode)"
                                                           show-button-bar="false"/>
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary" ng-click="openFromDatePicker($event)">
                                                            <i class="fa fa-calendar"></i>&ZeroWidthSpace;
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div collapse="entryEvent.allDay">
                                                <div ng-model="entryEvent.start" ng-change="changed()">
                                                    <timepicker></timepicker>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="eventEnd">End</label>

                                                <div class="input-group">
                                                    <input id="eventEnd" type="text" class="form-control"
                                                           datepicker-popup="MM/dd/yyyy"
                                                           ng-model="entryEvent.end"
                                                           is-open="untilDatePickerOpened"
                                                           date-disabled="disabled(date, mode)"
                                                           show-button-bar="false"/>
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary" ng-click="openUntilDatePicker($event)">
                                                            <i class="fa fa-calendar"></i>&ZeroWidthSpace;
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div collapse="entryEvent.allDay">
                                                <div ng-model="entryEvent.end" ng-change="changed()">
                                                    <timepicker></timepicker>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <input type="checkbox" ng-model="entryEvent.allDay">
                                            All-Day
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    <a href ng-click="selectEntryInputType('text')">
                                        <i class="fa fa-pencil fa-2x"></i><br>Text
                                    </a>
                                </div>
                                <div class="col-xs-3">
                                    <a href ng-click="selectEntryInputType('photo')">
                                        <i class="fa fa-camera-retro fa-2x"></i><br>Photo
                                    </a>
                                </div>
                                <div class="col-xs-3">
                                    <a href ng-click="selectEntryInputType('video')">
                                        <i class="fa fa-play-circle fa-2x"></i><br>Video
                                    </a>
                                </div>
                                <div class="col-xs-3">
                                    <a href ng-click="selectEntryInputType('event')">
                                        <i class="fa fa-calendar fa-2x"></i><br>Event
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-include src="'home/views/feed.html'"></div>
            </div>
        </div>
    </div>
