<div id="homeBg"></div>
<div id="homePage" ng-controller="homeController">
    <div class="container">
        <div ng-controller="BannerCtrl">
            <carousel interval="3000">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                </slide>
            </carousel>
        </div>

        <div class="homePageButtons xs-up">
        	
        	<div class="row">
        		
        		<div class="col-lg-4 col-md-4 col-sm-4">
        			<img src="../home/img/find-a-pro.png" />
        		</div>
        		
        		<div class="col-lg-4 col-md-4 col-sm-4">
        			<img src="../home/img/workouts.png" />
        		</div>
        		
        		<div class="col-lg-4 col-md-4 col-sm-4">
        			<img src="../home/img/the-shop.png" />
        		</div>
        	
        	</div>
        
        </div><!-- /.homePageButtons -->

        <div class="newsFeed" ng-controller="feedController">
        	
        	<div class="row">

        		<div class="col-md-4">
		        	<div class="post-outer status-update-box">
		        		<div class="post-inner">
			                <textarea class="form-control" placeholder="Encourage, motivate, persevere. succeed..." rows="3"></textarea>
			                
			                <div class="status-update-buttons">
			                	<div class="row">
				                    <div class="col-md-3 col-xs-3"><i class="fa fa-pencil fa-lg"></i></div>
				                    <div class="col-md-3 col-xs-3"><i class="fa fa-camera-retro fa-lg"></i></div>
				                    <div class="col-md-3 col-xs-3"><i class="fa fa-play-circle fa-lg"></i></div>
				                    <div class="col-md-3 col-xs-3"><i class="fa fa-calendar fa-lg"></i></div>
			                	</div>
			                </div>
		            	</div>
		        	</div>
                </div>
	        	<div ng-include src="'home/views/feed.html'"> </div>
                
        	</div><!-- /row-fluid -->
        </div>
    </div>
</div>