<div id="clientsBg"></div>
<div id="clients">
    <div ng-if="user_type != 'professional'" class="container">
        <h3 class="ef-header">What can I expect from Online Training or Nutritional Coaching?</h3>
        
        <h4>Congratulations for making the first step to becoming a healthier you!</h4>
        
        <p>We will be with you every step of the way to encourage, motivate and give you the tools you need to stay on track! We have all attempted to start a new workout plan or clean up our diets. But without proper guidance we tend to come up short or eventually give up on our newly chosen path. When you work hand-in-hand with our Certified Fitness Professionals we keep you on the right path, check up on your progress, and make necessary changes to your diet/nutrition plan to ensure it sticks this time! </p>

        <p>Your body is your temple and your health directly reflects your quality of life. So make the change today to get your health and wellness in check and start living life as the best version of YOU! Who knows, maybe there will even be a marathon in your future…aim high, train hard, love life!</p>

        <p>Feel free to comment and get to know an EverFit Professional you are interested in working with via their blogs and posts. When you are ready to get started, click the “Train with Me” button located on their profile page. If you do not see this button, the selected professional is not accepting clients at this time. </p>

        
        <p>Get ready to be in the best shape of your life! At EverFit, we truly want you to reach your goals and thank you for choosing EverFit to help you get there!</p>

        <h3>Be fit and LIVE EVERFIT!</h3>

        <p>If you have any questions or concerns do not hesitate to contact us at <a href="mailto:customerserivce@liveeverfit.com">customerserivce@liveeverfit.com</a>,or via the Contact Us tab located on the top of your screen.</p>

    </div>
    <div ng-if="user_type == 'professional'" class="container">
        <h3 class="ef-header">what do i owe my clients?</h3>

        <p>As a fitness professional, your friends, family and clientele look up to you for guidance through the vast amount of fitness information. The more active you are on your blog, and client interactions, ultimately the more successful you will be.</p>
            
        <p>Potential clients will have the ability to reach out to you via messaging and the “Train with Me” button located on your profile page. This button will become visible when you have selected “Accepting Clients?” in your profile settings. </p>
        
        <p>As a promoter, your audience will all interact with you via messaging and blog comments. Share and grow your following and income by sharing the link via the “AFFILIATE” button on your profile page. </p>

        <p>You can turn ON or OFF your online Training ability at any time inside of your Settings. </p>

        <h3>Be fit and LIVE EVERFIT!</h3>

        <p>If you have any questions or concerns do not hesitate to contact us at <a href="mailto:customerserivce@liveeverfit.com">customerserivce@liveeverfit.com</a> ,or via the Contact Us tab located on the top of your screen. </p>

    </div>
</div>