#evergreen-wrapper {
  background: url('evergreen/img/bckd-evergreen.jpg');
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;

  .evergreen-bckd {
    position: relative;
    background: url('evergreen/img/bckd-evergreen-content.png');
    -webkit-background-size: cover;
    -moz-background-size: 100% auto;
    -o-background-size: cover;
    background-size: cover;
  }

  .evergreen-text {
    position: absolute;
    top: 20%;
    left: 50%;
    right: 10%;
    transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    color: #d4e1b2;
  }

  .first-cap {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1em;
  }

  .evergreen-logos{
  text-align: center;
  }

  .evergreen-footer {
    color: #8e9c6a;
    text-align: center;
    margin-bottom:-100px;
  }

  .float-right {
    display: block;
    float: right;
  }
}

