<div ng-controller="messagesCtrl">
    <div id="messagesBg"></div>
    <div id="messagesPage">
        <div class="container">
            <div class="row-fluid">
                <div class="navbar">
                    <div class="navbar-inner">
                        <ul class="nav navbar-nav">
                            <li>
                                <a ng-click="newClick()" class="active">
                                    <i class="fa fa-plus fa-lg ever-blue" style="line-height: 1em;"></i>&ThinSpace;<i class="fa fa-envelope fa-lg blue"></i>
                                    <br> new
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a  ng-click="inboxClick()">
                                <span class="fa fa-inbox blue"></span>
                                &nbsp; inbox
                                <span class="badge pull-right">0</span>
                            </a>
                        </li>
                        <li>
                            <a  ng-click="outboxClick()">
                                <span class="fa fa-fighter-jet"></span>
                                &nbsp; sent
                            </a>
                        </li>
                        <li>
                            <a  ng-click="trashClick()">
                                <span class="fa fa-trash-o"></span>
                                &nbsp; deleted
                            </a>
                        </li>
                    </ul>
                </div>
                <div ng-switch="view">
                    <div ng-switch-when="message">
                        <div ng-include src="'messages/views/newMessage.html'"></div>
                    </div>
                    <div ng-switch-when="sent">
                        <div ng-include src="'messages/views/messageList.html'"></div>
                    </div>
                    <div ng-switch-when="trash">
                        <div ng-include src="'messages/views/messageList.html'"></div>
                    </div>
                    <div ng-switch-default>
                        <div ng-include src="'messages/views/messageList.html'"></div>
                    </div>
                        
                </div>
            </div>
        </div>
    </div>
</div>