#terms {
  .container:before {

  }
  .container {
    background-color: rgba(250, 250, 250, .89);
    min-height: 100%;
    padding: 21px;
    margin: 34px auto;
    margin-bottom: 55px;
    text-align: justify;

  }


  .style-ceo{
    padding: 40px;
    color:@brand-primary;
    h1{
      color:  @ever-blue;
    }
  }

  .style-contact{
    padding: 30px;
  }

}
