<div class="modal-header">
            <h3 class="modal-title">Add Certification</h3>
</div>
    <li ng-repeat="(error, msg) in message">{{msg[0]}}</li>
        <div class="modal-body">
            <form class="form-horizontal" name="registrationForm">                  
                <label for="certificationName">
                    Certification Name
                </label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Certification Name" ng-model="creditcard.name" required>
                  <p></p>
                <label for="numberName">
                    Certification Number
                </label>
                <input type="text" class="form-control" name="number" id="number" placeholder="Certification Number" ng-model="creditcard.number" required>
                  
                  <p></p>



                <hr></hr>
            </form>  
        </div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
