<div class="modal-header">
        <h3 class="modal-title">Im a modal!</h3>
    </div>
    <li ng-repeat="(error, msg) in message">{{msg[0]}}</li>
    <div class="modal-body">
        <div class="form-group editable-name"><label>Old Password: </label><input ng-model='current_password' type="password" name="current_password" class="input-small form-control"></div>
        <div class="form-group editable-name"><label>New Password: </label><input ng-model='password1' type="password" name="password1" class="input-small form-control"></div>
        <div class="form-group editable-name"><label>Confirm New Password: </label><input ng-model='password2' type="password" name="password2" class="input-small form-control"></div>
    </div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>