<div class="modal-header">
            <h3 class="modal-title">Edit photo</h3>
</div>
    <li ng-repeat="(error, msg) in message">{{msg[0]}}</li>
        <div class="modal-body">
            <div class="fileupload fileupload-new" data-provides="fileupload">
                <input type='file' upload='"/your/upload/location"' class="fileupload-label fileupload-new" >
                select image from your computer
                </button>
            </div>
        </div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
