<div class="post-outer">
        <div class="post-inner">
            <div class="post-header">
                <div class="dropdown post-settings">
                    <a class="dropdown-toggle" href>
                        <i class="fa fa-cog fa-lg"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href ng-if="entry.user == user_id" ng-click="deleteEntry($index, entry)">
                                <i class="fa fa-times"></i> delete
                            </a>
                            <a href ng-click="flagEntry(entry)">
                                <i class="fa fa-flag"></i> flag
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="media">
                    <a ui-sref="profile.view({view: entry.user})" >
                        <img class="media-object pull-left"
                             ng-src="{{entry.profile_img}}"
                             style="width: 32px; height: 32px;">
                    </a>
                    <div class="media-body">
                        <div class="posted-by"><a ui-sref="profile.view({view: entry.user})">{{entry.first_name}} {{entry.last_name}}</a></div>
                        <div class="timestamp">shared - {{entry.created | date : 'mediumDate' }} {{entry.created | date
                            : 'shortTime' }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-body" ng-switch="entry.type">
                <div class="text" ng-switch-when="text">
                    {{entry.text}}
                </div>
                <div class="photo" ng-switch-when="photo">
                    {{entry.text}}
                    <div>
                        <img ng-src="/media/{{entry.img}}">
                    </div>
                </div>
                <div class="video" ng-switch-when="video">
                    {{entry.text}}
                    <div>
                        <iframe width="100%" height="100%" ng-src="{{getTrustedURL(entry.url)}}" frameborder="0"
                                allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="blog" ng-switch-when="blog">
                    {{entry.text}}
                    <div ng-show="!entry.expand" ng-bind-html="getTrustedHtml(entry.body, true)"></div>
                    <a href ng-show="!entry.expand" ng-click="readMore(entry)">read more</a>
                    <div ng-show='entry.expand' ng-bind-html="getTrustedHtml(entry.body, false)"></div>
                </div>
                <div class="event" ng-switch-when="event">
                    <b>{{entry.text}}</b>
                    <br><br>

                    <div class="row">
                        <div class="col-xs-6"><i class="fa fa-calendar-o"></i><b class="blue">From:</b><br> {{entry.start | date : 'mediumDate' }}
                            <span ng-show="!entry.allday">{{entry.created | date : 'shortTime' }}</span>
                        </div>
                        <div class="col-xs-6"><i class="fa fa-calendar-o"></i><b class="blue">Until:</b><br> {{entry.end | date : 'mediumDate' }}
                            <span ng-show="!entry.allday">{{entry.created | date : 'shortTime' }}</span>
                        </div>
                    </div>
                    <b ng-show="entry.allday">All day</b>
                </div>
                <div class="shared" ng-switch-when="shared">
                    <b>Shared</b>
                    <br><br>
                    <div class="media">
                        <a ui-sref="profile.view({view: entry.shared_entry.user})" >
                            <img class="media-object pull-left"
                                 ng-src="{{entry.shared_entry.profile_img}}"
                                 style="width: 32px; height: 32px;">
                         </a>
                        <div class="media-body">
                            <div class="posted-by">
                                <a ui-sref="profile.view({view: entry.shared_entry.user})">
                                    {{entry.shared_entry.first_name}} {{entry.shared_entry.last_name}}
                                </a>
                            </div>
                            <div class="timestamp">
                                shared - {{entry.shared_entry.created | date : 'mediumDate' }}
                                {{entry.shared_entry.created | date: 'shortTime' }}
                            </div>
                        </div>
                    </div>
                    <div class="post-body" ng-switch="entry.shared_entry.type">
                        <div class="text" ng-switch-when="text">
                            {{entry.shared_entry.text}}
                        </div>
                        <div class="photo" ng-switch-when="photo">
                            {{entry.shared_entry.text}}
                            <div>
                                <img ng-src="/media/{{entry.shared_entry.img}}">
                            </div>
                        </div>
                        <div class="video" ng-switch-when="video">
                            {{entry.shared_entry.text}}
                            <div>
                                <iframe width="100%" height="100%" ng-src="{{getTrustedURL(entry.shared_entry.url)}}"
                                        frameborder="0"
                                        allowfullscreen=""></iframe>
                            </div>
                        </div>
                        <div class="blog" ng-switch-when="blog">
                            {{entry.shared_entry.text}}
                            <div ng-show="!entry.expand" ng-bind-html="getTrustedHtml(entry.shared_entry.body, true)"></div>
                            <a href ng-show="!entry.expand" ng-click="readMore(entry)">read more</a>
                            <div ng-show='entry.expand' ng-bind-html="getTrustedHtml(entry.shared_entry.body, false)"></div>
                        </div>
                        <div class="event" ng-switch-when="event">
                            <b>{{entry.shared_entry.text}}</b>
                            <br><br>

                            <div class="row">
                                <div class="col-xs-6"><i class="fa fa-calendar-o"></i> <b class="blue">From:</b><br> {{entry.shared_entry.start | date :
                                    'mediumDate'}}
                                    <span ng-show="!entry.shared_entry.allday">{{entry.shared_entry.created | date : 'shortTime' }}</span>
                                </div>
                                <div class="col-xs-6"><i class="fa fa-calendar-o"></i> <b class="blue">Until:</b><br> {{entry.shared_entry.end | date :
                                    'mediumDate'}}
                                    <span ng-show="!entry.shared_entry.allday">{{entry.shared_entry.created | date : 'shortTime' }}</span>
                                </div>
                            </div>
                            <b ng-show="entry.shared_entry.allday">All day</b>
                        </div>
                    </div>
                </div>
            </div>

            <div class="post-social pull-right">

                <span ng-click="likeEntry(entry)" title="Number of likes" class="push">
                        {{ entry.likes }}
                        <span style="color: rgba(125,135,144,0.2)">|</span>
                        <a href ng-if="!entry.user_likes" title="Like">
                            <i class="fa fa-thumbs-o-up fa-lg"></i>
                        </a>
                        <a href ng-if="entry.user_likes" title="Unlike">
                            <i class="fa fa-thumbs-o-down fa-lg"></i>
                        </a>
                </span>

                <span ng-click="entryShare(entry)" title="Number of shares">
                        <span ng-if="entry.type == 'shared'">{{ entry.shared_entry.shares }}</span>
                        <span ng-if="entry.type != 'shared'">{{ entry.shares }}</span>
                        <span style="color: rgba(125,135,144,0.2)">|</span>
                        <a href title="share">
                            <i class="fa fa-retweet fa-lg"></i>
                        </a>
                </span>

            </div>

            <div class="row" style="padding: 8px 0;" ng-if="commentNext">
                <div class="col-xs-12">
                    <a href ng-click="getComments()">
                        <i>Show older comments</i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="list-group">
                        <div ng-repeat="comment in entry.comments" class="list-group-item">
                            <div class="media">
                                <button class="close" ng-if="comment.user == user_id"
                                        ng-click="deleteComment($index, comment, entry)">
                                    <i class="fa fa-times"></i>&ZeroWidthSpace;
                                </button>
                                <a ui-sref="profile.view({view: comment.user})" >
                                <img class="media-object pull-left"
                                     ng-src="{{comment.img}}"
                                     style="width: 20px; height: 20px;" ui-sref="profile.view({view: comment.user})" >
                                 </a>

                                <div class="media-body">
                                    <div class="col-xs-12 col-sm-9">
                                        <a style="color: #999999; font-size: 12px;" ><a ui-sref="profile.view({view: comment.user})" style="color: #95abbf" >{{comment.first_name}} {{comment.last_name}}</a> {{comment.text}}</a>

                                        <div style="color: #c2c1c1; font-size: 11px;">
                                            {{ comment.created | date:'mediumDate'}}
                                            at {{comment.created | date: 'shortTime'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="media">
                                <img class="media-object pull-left"
                                     ng-src="{{usrImg}}"
                                     style="width: 20px; height: 20px;">

                                <div class="media-body">
                                    <label class="sr-only" for="entryComment">entry comment</label>
                                    <input id="entryComment"
                                           ng-model="entry.commentInput"
                                           placeholder="Encourage, motivate, inspire..."
                                           ng-enter="submitComment(entry)"
                                           class="form-control col-xs-12 col-sm-12"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./comments -->
        </div>
    </div>
    <!-- /.post-outer -->