<div class="newsFeed">
<div class="row">
<div ng-if="!feed_id || feed_id == user_id" class="item col-xs-12 col-lg-8">
    <div class="post-outer ">
        <div class="entry-input">
            <form class="input-box {{entryInputType}}">
                <div ng-show="!entryInputText" class="place-holder" ng-bind-html="entryInputPlaceHolder"></div>
                <div ng-input
                     class="input"
                     role="textbox"
                     contenteditable
                     ng-model="$parent.entryInputText"
                     ng-enter="entrySubmit()"></div>
                <div class="photo" ng-if="entryInputType=='photo'">
                    <div ng-if="!entryImgSrc&&!percent" class="upload">
                        <div class="well well-lg" ng-file-drop="onFileSelect($files)"
                             ng-file-drag-over-class="over">
                            <i class="fa fa-arrow-down fa-2x"></i>
                            <br>

                            <div>drag & drop</div>
                        </div>
                        <span class="btn btn-primary">
                             upload from computer
                            <input id="upload" type="file" accept="image/*" class="upload"
                                   ng-file-select="onFileSelect($files)">
                        </span>
                    </div>
                    <h3 ng-if="percent">Loading...</h3>
                    <progressbar ng-if="percent" class="progress-striped active" value="percent">
                        {{percent}}%
                    </progressbar>
                    <img ng-if="entryImgSrc" ng-src="{{entryImgSrc}}"/>
                </div>
                <div class="video" ng-if="entryInputType=='video'">
                    <div class="form-group">
                        <label>Paste YouTube URL here</label>
                        <input ng-model="$parent.$parent.entryVideoURL" class="form-control" type="text"
                               placeholder="" ng-change="entryYouTubeChange()" required/>
                    </div>
                    <iframe ng-if="entryVideoURLID"
                            width="100%"
                            ng-src="{{entryVideoURLIDTrusted}}"
                            frameborder="0" allowfullscreen>
                    </iframe>
                </div>
                <div class="event" ng-if="entryInputType=='event'">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="eventStart">Start</label>

                                <div class="input-group">
                                    <input id="eventStart" type="text" class="form-control"
                                           datepicker-popup="MM/dd/yyyy"
                                           ng-model="$parent.$parent.entryEvent.start" min
                                           is-open="fromDatePickerOpened"
                                           date-disabled="disabled(date, mode)"
                                           show-button-bar="false" required/>
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary"
                                                                ng-click="openFromDatePicker($event)">
                                                            <i class="fa fa-calendar"></i>&ZeroWidthSpace;
                                                        </button>
                                                    </span>
                                </div>
                            </div>
                            <div collapse="entryEvent.allDay">
                                <div ng-model="$parent.$parent.entryEvent.start" ng-change="changed()">
                                    <timepicker></timepicker>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="eventEnd">End</label>

                                <div class="input-group">
                                    <input id="eventEnd" type="text" class="form-control"
                                           datepicker-popup="MM/dd/yyyy"
                                           ng-model="$parent.$parent.entryEvent.end"
                                           is-open="untilDatePickerOpened"
                                           date-disabled="disabled(date, mode)"
                                           show-button-bar="false" required/>
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary"
                                                                ng-click="openUntilDatePicker($event)">
                                                            <i class="fa fa-calendar"></i>&ZeroWidthSpace;
                                                        </button>
                                                    </span>
                                </div>
                            </div>
                            <div collapse="entryEvent.allDay">
                                <div ng-model="$parent.$parent.entryEvent.end" ng-change="changed()">
                                    <timepicker></timepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-model="$parent.$parent.entryEvent.allDay">
                            All-Day
                        </label>
                    </div>
                </div>
                <div class="blog" ng-show="entryInputType=='blog'" rich-text-editor
                     ng-model="$parent.entryBlogBody"></div>
                <button ng-click="entrySubmit()" class="btn btn-primary btn-sm pull-right">share</button>
                <span class="clearfix"></span>
            </form>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-2">
                    <a href ng-click="selectEntryInputType('text')">
                        <i class="fa fa-pencil fa-2x"></i><br>Text
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href ng-click="selectEntryInputType('photo')">
                        <i class="fa fa-camera-retro fa-2x"></i><br>Photo
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href ng-click="selectEntryInputType('video')">
                        <i class="fa fa-play-circle fa-2x"></i><br>Video
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href ng-click="selectEntryInputType('blog')">
                        <i class="fa fa-edit fa-2x"></i><br>Blog
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href ng-click="selectEntryInputType('event')">
                        <i class="fa fa-calendar fa-2x"></i><br>Event
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="item col-xs-12 col-md-6 col-lg-4" ng-repeat="entry in feedList">
    <div class="post-outer">
        <div class="post-inner">
            <div class="post-header">
                <div class="dropdown post-settings">
                    <a class="dropdown-toggle" href>
                        <i class="fa fa-cog fa-lg"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href ng-if="entry.user == user_id" ng-click="deleteEntry($index, entry)">
                                <i class="fa fa-times"></i> delete
                            </a>
                            <a href ng-click="flagEntry(entry)">
                                <i class="fa fa-flag"></i> flag
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="media">
                    <a ui-sref="profile.view({view: comment.user})" >
                        <img class="media-object pull-left"
                             ng-src="{{entry.profile_img}}"
                             style="width: 32px; height: 32px;">
                    </a>
                    <div class="media-body">
                        <div class="posted-by"><a ui-sref="profile.view({view: entry.user})">{{entry.first_name}} {{entry.last_name}}</a></div>
                        <div class="timestamp">shared - {{entry.created | date : 'mediumDate' }} {{entry.created | date
                            : 'shortTime' }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-body" ng-switch="entry.type">
                <div class="text" ng-switch-when="text">
                    {{entry.text}}
                </div>
                <div class="photo" ng-switch-when="photo">
                    {{entry.text}}
                    <div>
                        <img ng-src="/media/{{entry.img}}">
                    </div>
                </div>
                <div class="video" ng-switch-when="video">
                    {{entry.text}}
                    <div>
                        <iframe width="100%" height="100%" ng-src="{{getTrustedURL(entry.url)}}" frameborder="0"
                                allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="blog" ng-switch-when="blog">
                    {{entry.text}}
                    <div ng-bind-html="getTrustedHtml(entry.body)"></div>
                </div>
                <div class="event" ng-switch-when="event">
                    <b>{{entry.text}}</b>
                    <br><br>

                    <div class="row">
                        <div class="col-xs-6"><b class="blue">From:</b><br> {{entry.start | date : 'mediumDate' }}
                            <span ng-show="!entry.allday">{{entry.created | date : 'shortTime' }}</span>
                        </div>
                        <div class="col-xs-6"><b class="blue">Until:</b><br> {{entry.end | date : 'mediumDate' }}
                            <span ng-show="!entry.allday">{{entry.created | date : 'shortTime' }}</span>
                        </div>
                    </div>
                    <b ng-show="entry.allday">All day</b>
                </div>
                <div class="shared" ng-switch-when="shared">
                    <b>Shared</b>
                    <br><br>
                    <div class="media">
                        <a ui-sref="profile.view({view: entry.shared_entry.user})" >
                            <img class="media-object pull-left"
                                 ng-src="{{entry.shared_entry.profile_img}}"
                                 style="width: 32px; height: 32px;">
                         </a>
                        <div class="media-body">
                            <div class="posted-by">
                                <a ui-sref="profile.view({view: entry.shared_entry.user})">
                                    {{entry.shared_entry.first_name}} {{entry.shared_entry.last_name}}
                                </a>
                            </div>
                            <div class="timestamp">
                                shared - {{entry.shared_entry.created | date : 'mediumDate' }}
                                {{entry.shared_entry.created | date: 'shortTime' }}
                            </div>
                        </div>
                    </div>
                    <div class="post-body" ng-switch="entry.shared_entry.type">
                        <div class="text" ng-switch-when="text">
                            {{entry.shared_entry.text}}
                        </div>
                        <div class="photo" ng-switch-when="photo">
                            {{entry.shared_entry.text}}
                            <div>
                                <img ng-src="/media/{{entry.shared_entry.img}}">
                            </div>
                        </div>
                        <div class="video" ng-switch-when="video">
                            {{entry.shared_entry.text}}
                            <div>
                                <iframe width="100%" height="100%" ng-src="{{getTrustedURL(entry.shared_entry.url)}}"
                                        frameborder="0"
                                        allowfullscreen=""></iframe>
                            </div>
                        </div>
                        <div class="blog" ng-switch-when="blog">
                            {{entry.text}}
                            <div ng-bind-html="getTrustedHtml(entry.body)"></div>
                        </div>
                        <div class="event" ng-switch-when="event">
                            <b>{{entry.shared_entry.text}}</b>
                            <br><br>

                            <div class="row">
                                <div class="col-xs-6"><b class="blue">From:</b><br> {{entry.shared_entry.start | date :
                                    'mediumDate'}}
                                    <span ng-show="!entry.shared_entry.allday">{{entry.shared_entry.created | date : 'shortTime' }}</span>
                                </div>
                                <div class="col-xs-6"><b class="blue">Until:</b><br> {{entry.shared_entry.end | date :
                                    'mediumDate'}}
                                    <span ng-show="!entry.shared_entry.allday">{{entry.shared_entry.created | date : 'shortTime' }}</span>
                                </div>
                            </div>
                            <b ng-show="entry.shared_entry.allday">All day</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-social">
                <span class="pull-right"><i class="fa fa-thumbs-o-up blue"></i>&NonBreakingSpace;
                    {{ entry.likes }}
                </span>
                <button class="btn btn-default btn-sm"
                        ng-click="likeEntry(entry)">
                    <span ng-if="!entry.user_likes">rep</span>
                    <span ng-if="entry.user_likes">unrep</span>
                    <span class="fa"
                          ng-class="{'fa-thumbs-o-up': (entry.user_likes == false), 'fa-thumbs-o-down': (entry.user_likes == true)}">
                    </span>
                </button>
                <button class="btn btn-default btn-sm"
                        ng-click="entryShare(entry.id)">
                    share
                </button>
            </div>
            <div class="row" style="padding: 8px 0;" ng-if="commentNext">
                <div class="col-xs-12">
                    <a href ng-click="getComments()">
                        <i>Show older comments</i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="list-group">
                        <div ng-repeat="comment in entry.comments" class="list-group-item">
                            <div class="media">
                                <button class="close" ng-if="comment.user == user_id"
                                        ng-click="deleteComment($index, comment, entry)">
                                    <i class="fa fa-times"></i>&ZeroWidthSpace;
                                </button>
                                <a ui-sref="profile.view({view: comment.user})" >
                                <img class="media-object pull-left"
                                     ng-src="{{comment.img}}"
                                     style="width: 36px; height: 36px;" ui-sref="profile.view({view: comment.user})" >
                                 </a>

                                <div class="media-body">
                                    <div class="col-xs-12 col-sm-9">
                                        <a style="color: #999999; font-size: 12px;" ><a ui-sref="profile.view({view: comment.user})" style="color: #95abbf" >{{comment.first_name}} {{comment.last_name}}</a> {{comment.text}}</a>

                                        <div style="color: #c2c1c1; font-size: 11px;">
                                            {{ comment.created | date:'mediumDate'}}
                                            at {{comment.created | date: 'shortTime'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="media">
                                <img class="media-object pull-left"
                                     ng-src="{{usrImg}}"
                                     style="width: 36px; height: 36px;">

                                <div class="media-body">
                                    <label class="sr-only" for="entryComment">entry comment</label>
                                    <input id="entryComment"
                                           ng-model="entry.commentInput"
                                           placeholder="Encourage, motivate, inspire..."
                                           ng-enter="submitComment(entry)"
                                           class="form-control col-xs-12 col-sm-12"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./comments -->
        </div>
    </div>
    <!-- /.post-outer -->
</div>
<div class="grid-sizer col-xs-12 col-md-6 col-lg-4"></div>
</div>
</div>