<div id="profileBg"></div>
<div id="profile" ng-controller="profileController">
    <div class="container" ng-if="profile_user">
        <div class="header">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="ef-header">{{profile_user.first_name}} {{profile_user.last_name}}
                                <small> / {{profile_user.location}}</small>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-2"></div>
                <div class="col-md-2 col-sm-4 col-xs-2">
                    <div class="status-profile" style="text-align: center">
                        Live training in session<br>
                        <i class="fa fa-circle fa-2x red"></i>

                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-2">
                    <div class="status-profile" style="text-align: center">
                        Accepting clients:<br>
                        <i ng-class="{'fa fa-circle fa-2x red': (profile_user.is_accepting == false), 'fa fa-circle fa-2x green': (profile_user.is_accepting == true)}"></i>

                    </div>
                </div>
            </div>
        </div>
        <div class="meta-banner">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-left">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="profile-picture">
                                    <img ng-src="/media/{{profile_user.img}}" class=""/>
                                </div>
                                <!-- /.profile-picture -->
                            </div>
                            <!-- /.col-md-6 -->
                            <div class="col-sm-4">
                                <img ng-if="profile_user.profession"
                                     ng-src="/profile/img/{{profile_user.profession}}.png"/>
                                <img ng-if="!profile_user.profession" ng-src="/profile/img/user.png"/>
                            </div>
                            <!-- /.col-md-6 -->
                        </div>
                        <!-- /.row -->

                        <div class="specialties">
                            <h3 class="ef-header">specialties</h3>
                            <span class="tag tag-blue tag-click" ng-repeat="tag in profile_user.tags">{{tag}}</span>
                        </div>
                        <!-- /.specialties-->
                    </div>
                    <!-- /.profile-left -->

                </div>
                <!-- /.col-md-4 -->

                <div class="col-md-8">

                    <div class="profile-banner">

                        <div class="image-overlay">

                            <div class="buttons pull-left">
                                <a href ng-if="user_id == profile_user.id" class="message" ui-sref="settings">
                                    <i class="fa fa-cog"></i>
                                    settings
                                </a>
                                <a href ng-if="user_id != profile_user.id && profile_user.user_connected"
                                   class="message">
                                    <i class="fa fa-envelope"></i>
                                    message
                                </a>
                                <a href
                                   ng-if="user_id != profile_user.id && !profile_user.user_connected && profile_user.type == 'professional'"
                                   ng-click="connect()" class="connect">
                                    <i class="fa fa-envelope"></i>
                                    Connect
                                </a>
                                <a href ng-if="profile_user.invite" class="invite">
                                    <i class="fa fa-exchange"></i>
                                    Invite
                                </a>
                                <a href ng-if="user_id != profile_user.id && !profile_user.user_follows" class="follow"
                                   ng-click="followToggle()">
                                    <i class="fa fa-exchange"></i>
                                    Follow
                                </a>
                                <a href ng-if="user_id != profile_user.id && profile_user.user_follows" class="follow"
                                   ng-click="followToggle()">
                                    <i class="fa fa-exchange"></i>
                                    Unfollow
                                </a>

                            </div>
                            <!-- /.buttons -->
                            <div class="report pull-right">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="stat-report">
                                            likes
                                            <div class="number">
                                                {{profile_user.likes}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="stat-report">
                                            inspiration
                                            <div class="number">
                                                {{profile_user.inspiration}}
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="profile_user.clients" class="col-xs-2 col-xs-offset-1">
                                        <div class="stat-report">
                                            clients
                                            <div class="number">
                                                {{profile_user.clients}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 col-xs-offset-1">
                                        <div class="stat-report">
                                            fanatics
                                            <div class="number">
                                                {{profile_user.fanatics}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.report -->
                            <div style="clear:both;"></div>
                        </div>
                        <!-- /.image-overlay -->
                    </div>
                </div>
                <!-- /.col-md-8 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.meta-banner -->
        <tabset justified="true" type="pills">
            <tab heading="feed" select="filter('')" active="feedActive"></tab>
            <tab heading="bio" select="filter('exempt')">
                <div class="google-map-outer">
                    <div class="bio">
                        <h2 class="ef-header">bio</h2>
                        <div ng-if="!profile_user.bio">No bio.</div>
                        {{profile_user.bio}}
                    </div>
                </div>
            </tab>
            <tab heading="texts" select="filter('text')"></tab>
            <tab heading="photos" select="filter('photo')"></tab>
            <tab heading="videos" select="filter('video')"></tab>
            <tab heading="blogs" select="filter('blog')"></tab>
            <tab heading="events" select="filter('event')"></tab>
            <tab heading="clients" select="clientFilter()" ng-if="user_id == profile_user.id && profile_user.type == 'professional'" ></tab>
            <tab heading="calendar" select="initCalendar()">
                <div ng-if="profile_user.id && showCalendar" class="google-map-outer">
                    <div profile-calendar ng-model="profile_user.id"></div>
                </div>
            </tab>
            <tab heading="reach" select="initReach()">
                <div class="google-map-outer">
                    <div class="google-map" center="map.center" zoom="map.zoom" draggable='true' control="map.control"
                         options="map.options">
                        <marker ng-repeat="referral in profile_user.referrals"
                                coords="{latitude: referral.lat, longitude: referral.lng}"
                                icon="referralIcon" events="{click: referral.click}">
                        </marker>
                    </div>
                    <div class="referrals">
                        referrals
                        <br>
                        <i class="fa fa-hand-o-up fa-lg ever-blue"></i><span>{{profile_user.referrals.length}}</span>
                    </div>
                </div>
            </tab>
        </tabset>
        <!-- /.filters -->
        <div ng-if="feed.show" entry-feed ng-model="$parent.$parent.feed"></div>
    </div>
    <!-- /.container -->
</div><!-- /#profile -->